//
@use 'bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    img {
        height: 300px;
        object-fit: cover;
    }
}

.carousel {
    img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}